html{
    height: 100%;

    background: linear-gradient(35deg, var(--accent), var(--accent-low));
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-sizing: border-box;
    align-self: center;
    padding: 20px 30px;
    background-color: var(--neutral);
    border-radius: 10px;
}

input{
    display: block;

    height: 50px;
    width: 300px;

    font-size: 1rem;

    margin-bottom: 20px;
    padding: 10px;

    border-radius: 5px;
}

input[type=text],
input[type=password],
input[type=email]{
    box-sizing: border-box;
    border: var(--complimentary) 2px solid;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus{
    outline-color: var(--accent);
}

input[type=submit]{

    margin-top: 20px;
    padding: 10;

    background: linear-gradient(35deg, var(--accent), var(--accent-low));

    color: var(--neutral);
    font-weight: bold;

    border: none;
    border-radius: 50px;
}

input[type=submit]:hover{
    color: var(--accent);
    background: var(--neutral);
    border: 2px solid var(--accent);
}

hr{
    margin: 20px 0;
}
