@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --accent: #8181fd;
    --accent-low: #ceceff; 
    --complimentary: hsl(0, 0%, 0%);
    --neutral: hsl(0, 0%, 100%);
    --half-transparent: hsla(0, 0%, 0%, 0.100);
}

*{
    font-family: 'Poppins', sans-serif;
    color: var(--complimentary);
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--ha);
}

::-webkit-scrollbar-thumb {
    background: var(--accent-low);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

.load-more-posts,
.no-posts{
    box-sizing: border-box;
    display: block;
    width: 60%;
    padding: 10px;
    margin: 5px auto;

    color: var(--neutral);
    font-weight: bold;

    border: 2px solid var(--neutral);
    border-radius: 5px;
}

.load-more-posts{
    background: linear-gradient(35deg, var(--accent), var(--accent-low));
}

.load-more-posts:hover{
    color: var(--accent);
    background: var(--neutral);
    border: 2px solid var(--accent);
}

.no-posts{
    background: var(--accent-low);
}